/lib/Helper/bin/*
/lib/Helper/obj/*
/src/AuthServer/bin/*
/src/AuthServer/obj/*
/src/Data.NH/bin/*
/src/Data.NH/obj/*
/src/Data/bin/*
/src/Data/obj/*
/src/Net/bin/*
/src/Net/obj/*
/src/RealmServer.Core/bin/*
/src/RealmServer.Core/obj/*
/src/RealmServer.Data.NH/bin/*
/src/RealmServer.Data.NH/obj/*
/src/RealmServer.Net/bin/*
/src/RealmServer.Net/obj/*
/src/RealmServer.PacketDispatchers/bin/*
/src/RealmServer.PacketDispatchers/obj/*
/src/RealmServer/bin/*
/src/RealmServer/obj/*
/src/_ReSharper.*/
/tests/Tests/bin/*
/tests/Tests/obj/*
/src/*.suo
/src/*.user
/src/Helper/obj/*
/src/Helper/bin/*
