<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">
        NHibernate.Driver.SQLite20Driver
      </property>
      <property name="dialect">
        NHibernate.Dialect.SQLiteDialect
      </property>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.connection_string">
        Data Source=\uwow2\uwow2\src\uwow.s3db;Version=3
      </property>
      <property name="query.substitutions">true=1;false=0</property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle
      </property>
      <mapping assembly="Hazzik.AuthServer"/>
    </session-factory>
  </hibernate-configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
